    <div class="row">
      <div class="col-md-8">
      <form action="/services" method="get">
      <select name="search">
      <option value="">Select a Category</option>
      <% @categorys.each do |category| %>
      <option value="<%= category %>"><%= category %></option>
      <% end %>
      </select>
      <input type="text" name="city" placeholder="City">
      <button type="submit" class="btn btn-dark" ,
              style="border-radius: 5px; width: 100px; height: 30px; margin: 0 auto;">Find</button>
      </form>
    </div>
    </div>
