    <section>
      <div class="row">
        <div class="col-md-8 w-100">
          <% @services.each do |service| %>
          <% user = User.find(service.user_id)%>
          <div class="card-services">
            <div class="card-header">
              <%= service.name_service %>
            </div>
            <div class="card-body">
              <p><%= service.category %></p>
              <p><%= service.price %></p>
              <p><%= service.address %></p>

              <a href="#" class="btn btn-primary" style="border-radius: 5px; width: 100px">Contract</a>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </section>

    <style>
      .card-services {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
      }

      .card-header {
        background-color: #f5f5f5;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      .card-body {
        padding: 10px;
      }

      .btn {
        margin-top: 10px;
      }
    </style>
