// Define variables for your color scheme
// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #E9CE2C;
$orange: #E67E22;
$green: #18ca7a;
$gray: #0E0000;
$light-gray: #F4F4F4;
$wire-gray: #F2F4F7;