// Specific CSS for your home-page
h2 {
    font-family: $logo-font;
}

.home-hero {
    background-color: $yellow;
    height: 350px;
}

.home-categories {
    background-color: $wire-gray;
    height: 400px;
    margin-top: 80px;
}

.home-title {
    padding-top: 80px;
}

.home-white-bg {
    background-color: $white;
    height: 800px;
}