// Specific CSS for your home-page
h2 {
    font-family: $logo-font;
}

.home-hero {
    background-color: $yellow;
    height: 350px;
    form {
        width: 50%;
        i {
            font-size: 20px;
        }
    }
}

.home-categories {
    background-color: $wire-gray;
    height: 360px;
    margin-top: 60px;
}

.home-title {
    padding-top: 50px;
}

.home-white-bg {
    background-color: $white;
    height: 1200px;
}

.image-review {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.card {
    border-radius: 10px;
    border: 1px solid $wire-gray;
    margin-top: 50px;
}

.card i {
    color: $yellow;
}

.hero-title {
    font-family: $logo-font;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 90px;
}
