<div class="container">
  <div class="row mx-auto">

    <div class="col-sm dashboard-card">
      <button class="dashboard-button" id="profile-btn">
        <div class="card-info">
          <h5>Profile</h5>
          <p class="description">Edit your name, photo, state, city and phone number</p>
        </div>
      </button>
    </div>

    <div class="col-sm dashboard-card">
      <button class="dashboard-button" id="service-btn">
        <div class="card-info">
          <h5>My Services</h5>
          <p class="description">Edit and see your created and hired services</p>
        </div>
      </button>
    </div>

    <div class="col-sm dashboard-card">
      <button class="dashboard-button"id="contract-btn">
        <div class="card-info">
          <h5>My Contracts</h5>
          <p class="description">Manage the status of your created or hired contracts</p>
        </div>
      </button>
    </div>

    <div class="col-sm dashboard-card">
      <button class="dashboard-button" id="review-btn">
        <div class="card-info">
          <h5>My Reviews</h5>
          <p class="description">Check the reviews you have received</p>
        </div>
      </button>
    </div>
  </div>

  <div class="col">
    <div class="row mx-auto">

      <div class="col-sm dashboard-card-static">
        <% if params[:button] == 'service' %>
          <% if @user.services.any? %>
            <div id="service-content">
              <%= render 'app/views/services/show.html.erb', user: @user %>
            </div>
          <% else %>
            <h4>You have 0 services.</h4>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
