<div class="container">
  <div class="row text-left mx-auto">

    <div class="col-sm dashboard-card">
      <%= link_to edit_user_path(current_user) do %>
        <div class="card-info">
          <h5>Profile</h5>
          <p class="description">Edit your name, photo, address, city and phone number</p>
        </div>
      <% end %>
    </div>

    <div class="col-sm dashboard-card">
      <%= link_to service_path(current_user) do %>
        <div class="card-info">
          <h5>My Services</h5>
          <p class="description">Edit and see your created and hired services</p>
        </div>
      <% end %>
    </div>

    <div class="col-sm dashboard-card">
      <%= link_to contract_path(current_user) do %>
        <div class="card-info">
          <h5>My Contracts</h5>
          <p class="description">Manage the status of your created or hired contracts</p>
        </div>
      <% end %>
    </div>

    <div class="col-sm dashboard-card">
      <%= link_to edit_user_path(current_user) do %>
        <div class="card-info">
          <h5>My Reviews</h5>
          <p class="description">Check the reviews you have received</p>
        </div>
      <% end %>
    </div>

  </div>

<div class="col">
  <div class="row mx-auto">
    <div class="col-sm dashboard-card-static">

    </div>
  </div>
</div>
</div>
