<div class="home-hero">
  <h1 class="hero-title text-center mb-1">Your digital yellow pages</h1>
  <p class="hero-subtitle text-center mt-0">Find local businesses and services in your area</p>
      <form class="d-flex mx-auto" action="/services" method="get">
        <input class="form-control me-2" type="text" name="search" placeholder="Category" aria-label="Search">
        <input class="form-control me-2" type="text" name="city" placeholder="City" aria-label="Search">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
</div>

<div class="container">
  <div class="home-categories text-center">
  <h2>Trending Categories</h2>

    <div class="cards-categories d-flex justify-content-around align-items-center">
      <div class="cards-list mx-auto" >
        <button onclick="search('Arquiteto')" type="submit" class="btn btn-category"><i class="fa-solid fa-helmet-safety"></i></button>
        <h5 type="text" class="mt-3" name="search">Architect</h5>
      </div>


      <div class="cards-list mx-auto">
        <button onclick="search('Electrician')" type="submit"class="btn btn-category"><i class="fa-solid fa-bolt"></i></button>
         <h5 type="text" class="mt-3" name="search">Electrician</h5>
      </div>

      <div class="cards-list mx-auto">
        <button onclick="search('Painter')" type="submit" class="btn btn-category"><i class="fa-solid fa-paint-roller"></i></button>
         <h5 type="text" class="mt-3" name="search">Painter</h5>
      </div>

      <div class="cards-list mx-auto">
        <button onclick="search('Cleaning')" type="submit" class="btn btn-category"><i class="fa-solid fa-hand-sparkles"></i></button>
         <h5 type="text" class="mt-3" name="search">Cleaning</h5>
      </div>

      <div class="cards-list mx-auto">
        <button onclick="search('Car repair')" type="submit" class="btn btn-category"><i class="fa-solid fa-car-side"></i></button>
         <h5 type="text" class="mt-3" name="search">Car repair</h5>
      </div>

      <div class="cards-list mx-auto">
        <button onclick="search('Transport')" type="submit" class="btn btn-category"><i class="fa-solid fa-dolly"></i></button>
         <h5 type="text" class="mt-3" name="search">Transport</h5>
      </div>

        <script>
        function search(searchTerm) {
          window.location.href = '/services?search=' + encodeURIComponent(searchTerm);
        }
        </script>
    </div>
  </div>
</div>


<div class="home-white-bg">
  <div class="container">

    <div class="home-reviews text-center">
      <h2 class="home-title mb-0">Check out our latest reviews</h2>

      <div class="row d-flex">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img class="image-review justify-content-center mb-1" src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <p class="card-text">Jonas Wright</p>
              <h5 class="card-title mb-0"><b>Plumbing Co.</b></h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              <p class="card-text mt-2">“I had a great experience with this company. They were very professional and did a great job. I would highly recommend them.”</p>
            </div>
          </div>
      </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img class="image-review justify-content-center mb-1" src="https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?q=80&w=1467&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <p class="card-text">Anna Smith</p>
              <h5 class="card-title mb-0"><b>Appliance Repair</b></h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              <p class="card-text mt-2">“Exceptional service and expertise, the company consistently delivers efficient and reliable solutions, ensuring my appliance works smoothly every time.”</p>
            </div>
          </div>
      </div>

        <div class="col-md-4">

          <div class="card">
            <div class="card-body">
              <img class="image-review justify-content-center mb-1" src="https://images.unsplash.com/photo-1566492031773-4f4e44671857?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <p class="card-text">Greg Miller</p>
              <h5 class="card-title mb-0"><b>Carpet Cleaning</b></h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              <p class="card-text mt-2">“Impeccable service! Cleaning Co. ensures every corner sparkles with thorough attention to detail, making our home feel fresh after each visit.”</p>
            </div>
          </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="home-map text-center">
        <h2 class="home-title mb-5">Discover local business in your area</h2>

        <div class="map mb-5 mx-auto">
          <div style="width: 100%; height: 500px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>

      </div>
    </div>
  </div>
</div>
