<div class="home-hero">

</div>

<div class="container">
  <div class="home-categories text-center">
  <h2>Browse categories</h2>

    <div class="cards-categories d-flex justify-content-around align-items-center">
      <div class="cards-list mx-auto">
        <button type="button" class="btn btn-category"><i class="fa-solid fa-faucet"></i></button>
        <h5 class="mt-3">Plumber</h5>
      </div>

      <div class="cards-list mx-auto">
        <button type="button" class="btn btn-category"><i class="fa-solid fa-bolt"></i></button>
        <h5 class="mt-3">Electrician</h5>
      </div>

      <div class="cards-list mx-auto">
        <button type="button" class="btn btn-category"><i class="fa-solid fa-paint-roller"></i></button>
        <h5 class="mt-3">Painter</h5>
      </div>

      <div class="cards-list mx-auto">
        <button type="button" class="btn btn-category"><i class="fa-solid fa-hand-sparkles"></i></button>
        <h5 class="mt-3">Cleaning</h5>
      </div>

      <div class="cards-list mx-auto">
        <button type="button" class="btn btn-category"><i class="fa-solid fa-car-side"></i></button>
        <h5 class="mt-3">Car repair</h5>
      </div>

      <div class="cards-list mx-auto">
        <button type="button" class="btn btn-category"><i class="fa-solid fa-dolly"></i></button>
        <h5 class="mt-3">Transport</h5>
      </div>

    </div>

  </div>
</div>


<div class="home-white-bg">
  <div class="container">

    <div class="home-reviews text-center">
      <h2 class="home-title mb-0">Leave reviews</h2>

      <div class="row d-flex">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img class="image-review justify-content-center mb-1" src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <p class="card-text">Jonas Wright</p>
              <h5 class="card-title mb-0"><b>Plumbing Co.</b></h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              <p class="card-text mt-2">“I had a great experience with this company. They were very professional and did a great job. I would highly recommend them.”</p>
            </div>
          </div>
      </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <img class="image-review justify-content-center mb-1" src="https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?q=80&w=1467&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <p class="card-text">Anna Smith</p>
              <h5 class="card-title mb-0"><b>Auto Repair Co.</b></h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              <p class="card-text mt-2">“Exceptional service and expertise, the company consistently delivers efficient and reliable solutions, ensuring my vehicle runs smoothly every time.”</p>
            </div>
          </div>
      </div>

        <div class="col-md-4">

          <div class="card">
            <div class="card-body">
              <img class="image-review justify-content-center mb-1" src="https://images.unsplash.com/photo-1566492031773-4f4e44671857?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
              <p class="card-text">Greg Miller</p>
              <h5 class="card-title mb-0"><b>Cleaning Service</b></h5><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
              <p class="card-text mt-2">“Impeccable cleaning service! Cleaning Co. ensures every corner sparkles with thorough attention to detail, making our home feel fresh after each visit.”</p>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="home-map text-center">
      <h2 class="home-title mb-5">Discover local business in your area</h2>

      <div class="map mb-5 mx-auto">
        <div style="width: 100%; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>
