    .btn-category {
        background-color: $yellow;
        color: $black;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        font-size: 60px;
    }
    
    .cards-categories {
        margin-top: 80px;
    }