.tag-yellow {
    background-color: $yellow;
    color: $dark;
    border: none;
    border-radius: 30px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
}

.card-services {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 800px;
}

.title-service {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    font-size: 25px;
    font-weight: bold;
    font-family: $headers-font;
}

.service-info {
    width: 100%;
}

.card-my-services {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}