footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: $yellow;
    color: black;
    text-align: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
}