.navbar-lewagon {
    justify-content: space-between;
    background: $yellow;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.btn-dark {
    border-radius: 8px;
}

.logo-name {
    font-family: $logo-font;
    font-size: 1.5rem;
    color: $dark;
}

.dropdown-menu {
    border-radius: 0.2rem;
    border: none;
}

.navbar form {
    width: 60%;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.nav-item-btn {
    width: 160px;
}